@{
    ViewBag.Title = "Index";
}
<style>

    img {
        height:340px;
        width:540px;
    }
</style>
<div id="allContianer">
        <h2>showImgFromByte（使用二进制流 显示图片）</h2>
       <img src="@Url.Action("ShowImage","ShowImgFromImgByte",new { id="5"})" />
</div>
