body {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.tipForSwapUp {
    position: absolute;
    height: 30%;
    width: 100%;
    bottom: 0.31em;
    z-index: 999;
	/*border:1px solid blue;*/
	-webkit-transform-style: preserve-3d;
}

.arrowItemContainer {
    position: relative;
    height: 80%;
    width: 30%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
	animation: aArrowItem 3.4s linear infinite;
	animation-direction:normal;
}

.arrowItem {
    width: 2.5em;
    height: 2.5em;
    border-right: 2px solid white;
    border-top: 2px solid white;
    transform: rotate(-45deg);
    margin: 0 auto;

}

@keyframes aArrowItem {
    0%,30% {
		transform: translate(0, 0);
    }

    100% {
		opacity:0;
		transform: translate(0, -4em);
    }
}
