@{
    ViewBag.Title = "ContentInsertSlide";
}

<h2>ContentInsertSlide</h2>

<script type="text/javascript" src="@Url.Content("~/Scripts/custom/inserContent.js")"></script>

<input type="button" id="getIt" value="展开" />
<input type="button" id="coseIt" value="收起" />
<div id="liContent" style="width: 1000px; min-height: 250px; margin: 0 auto; ">
    <div id="inviteOther" style="border: 1px solid red;height:40px;width:100%; display:none;">
    </div>
    <div style="height: 200px; width: 100%; border: 1px solid black;"></div>
</div>
