@{
    ViewBag.Title = "H5Swap";
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta content="telephone=no" name="format-detection" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="../../Scripts/libs/h5slider/pageSlider.css" rel="stylesheet" />
<link href="../../Content/h5swap.css" rel="stylesheet" />
<script src="../../Scripts/libs/prefixfree.min.js"></script>
<script src="../../Scripts/libs/h5slider/zepto-min.js"></script>
<script src="../../Scripts/libs/h5slider/pageSlider.js"></script>
<h2>H5Swap</h2>
<div id="wrapper">
    <div class="section sec1" style="background-color: #9BC6EF;">
        <p>1</p>
    </div>
    <div class="section sec2" style="background-color: #707074;">
        <p>2</p>
    </div>
    <div class="section sec3" style="background-color: #90EE7E;">
        <p>3</p>
    </div>
    <div class="section sec4" style="background-color: #F45B5B;">
        <p>4</p>
    </div>
    <div class="tipForSwapUp">
        <div class="arrowItemContainer">
            <div class="arrowItem"></div>
            <div class="arrowItem"></div>
        </div>
    </div>
</div>
<script src="../../Scripts/custom/h5swap.js"></script>
