@{
    Layout = null;
}
<script src="/Scripts/custom/indexDB.js"></script>
<div>
    <h3>indexDB</h3>
    <button onclick="createDatabase('customers')">创建数据库 </button>
    <button onclick="addDataInfoToDatabase()">添加数据</button>
    <button onclick="getDataFromIndexDB()">数据读取</button>
    <button onclick="updateDataFromIndexDB()">数据更新</button>
    <button onclick="deleteDatabase('customers')">删除数据库 </button>
</div>

