
<style>
    .main {
        overflow:auto;
        height:500px;
    }
</style>
<script src="/Scripts/libs/jquery.lazyload.min.js"></script>

<h3>lazyloading 的方法注册要写在图片的后面</h3>
<div class="main">
    <ul class="lazyContainer">
        
    </ul>
</div>
<script src="/Scripts/custom/lazyloadimg.js"></script>