@{
    ViewBag.Title = "MediaQueries";
    Layout = null;
}
<meta name="viewport" content="width=device-width ,initial-scale=1" />
<link href="../../Content/css3mediaquery.css" rel="stylesheet" />
<h2>css3-media-queries-demo  调整浏览器大小查看效果</h2>
<div class="content">
    <div class="leftBox"></div>
    <div class="middleBox"></div>
    <div class="rightBox"></div>
</div>