@{
    ViewBag.Title = "Navigation";
}
<style>
    ol {
        display: inline-block;
        width: 250px;
        max-height: 500px;
        border: 2px solid #808080;
        overflow:auto;
    }

        ol li {
            margin: 15px 0;
        }

    .containerListItem {
        display: inline-block;
        list-style: none;
        vertical-align: top;
    }
</style>

<div style="width: 1000px; height: auto; margin: 0 auto; border: 1px solid #808080; border-radius: 2px;">
    <h2>Navigation - 导航--</h2>
    <ul>
        <li class="containerListItem">
            <ol>
                <li>
                    <a href="../Home/Canvas">cavas绘图</a>
                </li>
                <li>
                    <a href="../ShowImgFromImgByte/Index">流显示图片</a>
                </li>
                <li>
                    <a href="../GetZipFiles/Index">压缩文件</a>
                </li>
                <li>
                    <a href="../Home/ApplyMethon">JS apply方法使用</a>
                </li>
                <li>
                    <a href="../Home/CropUserPhoto">JS+C#图像裁剪</a>
                </li>
                <li>
                    <a href="../Home/ShowEchart">Iframe上传文件</a>
                </li>
                <li>
                    <a href="../Home/ShowEchart">echart使用</a>
                </li>
                <li>
                    <a href="../Home/ContentInsertSlide">内容插入</a>
                </li>
                <li>
                    <a href="../Home/RightPanelTest">右侧面板</a>
                </li>
                <li>
                    <a href="../Home/GetDiscussTime">显示评论时间</a>
                </li>
                <li>
                    <a href="../Home/ProgressBar">bootstap进度条动画</a>
                </li>
                <li>
                    <a href="../Home/TestAtFunctionMy">my"at 好友"</a>
                </li>
                <li>
                    <a href="../Home/SingnalR">SingnalR</a>
                </li>
                <li>
                    <a href="../Home/JavacriptArguments">形参和实参</a>
                </li>
                <li>
                    <a href="../Home/PasteImgFromClipboard">从粘贴板复制图片</a>
                </li>
                <li>
                    <a href="../CSS3/Index" target="_blank">CSS3</a>
                </li>
                <li>
                    <a href="../Home/AngularJS">AngularJS</a>
                </li>
                <li>
                    <a href="../../Home/ColorBlocks">颜色块</a>
                </li>
                <li>
                    <a href="../../Home/Dragable">拖动排序</a>
                </li>
            </ol>
        </li>
        <li class="containerListItem">
            <ol>
                <li>
                    <a href="../../Home/SetTextareaCursorPostion">textarea光标位置</a>
                </li>
                <li>
                    <a href="../../Home/AudioTest">音频播放</a>
                </li>
                <li>
                    <a href="../../Home/IndexDB">IndexDB</a>
                </li>
                <li>
                    <a href="../../Home/Sort">Sort排序</a>
                </li>
                 <li>
                    <a href="../../Home/LessTest">Less测试</a>
                </li>
                 <li>
                    <a href="../../Home/JQueryMobile">JQueryMobile测试</a>
                </li>
                <li>
                    <a href="../../Home/LocalStorage">html5 localstorage本地存储</a>
                </li>
            </ol>
        </li>
    </ul>


</div>
