@{
    ViewBag.Title = "OnePageScroll";
}
<link href="../../Scripts/libs/onepagescroll/jquery.fullPage.css" rel="stylesheet" />
<script src="../../Scripts/libs/onepagescroll/jquery.fullPage.min.js"></script>
<script src="../../Scripts/custom/onpagescroll.js"></script>

<div id="pageContain">
    <div class="section">
        <span>第一屏</span>
    </div>
    <div class="section">
        <span>第二屏</span>
    </div>
    <div class="section">
        <span>第三屏</span>
    </div>
    <div class="section">
        <span>第四屏</span>
    </div>
</div>
@*<ul id="navBar">
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
</ul>*@

