@{
    ViewBag.Title = "PasteImgFromClipboard";
}

<h2>PasteImgFromClipboard- 从粘贴板复制图片,并实现上传</h2>
<input type="text" id="pasteImgInput" />
<script src="../../Scripts/custom/pasteImgFromClipboard.js"></script>
