@{
    ViewBag.Title = "Sort";
}
<script src="../../Scripts/custom/sort.js"></script>
<h2>Sort</h2>
<div class="main">
    测试数组：[1,5,8,90,56,100,25]
    <br />
    <br />
    反转排序结果：<span id="reverseValue"></span>
    <br />
    <br />
    默认排序结果：<span id="orgValue"></span>
    <br />
    <br />
    正确排序结果：<span id="rightValue"></span>
    <br />
    <br /><br />
    <br />
    <h3>对象排序：</h3>
    测试对象：[{name:"Jimmy",age:25,name:"Stephen",age:"24",name:"Alex",age:26}]
    <br />
    <br />
    按名字排序结果：<span id="sortByNameValue"></span>
    <br />
    <br />
    按年纪排序结果：<span id="sortByAgeValue"></span>
</div>


