@{
    ViewBag.Title = "AnimateLoding";
}
<link href="../../Content/AnimateLoding.css" rel="stylesheet" />
@*<script type="text/javascript" src="http://images.sohu.com/cs/jsfile/js/c.js"></script>*@
<script src="../../Scripts/custom/animateloading.js"></script>
<script src="../../Scripts/libs/less-1.3.3.min.js"></script>
<h2>AnimateLoding</h2> 
    <input type="button" id="pictureanimateStar" value="变化图片" />
    <div class="mypicture"></div>
    <div class="colorChange"></div>
    <div class="colorSize"></div>
   
<div class="loader loaderAudio"></div>
<div style="cursor: pointer;">
    <label>选择</label><img src="../../Content/images/2014-12-27_154451.jpg" style="height: 15px; width: 15px; margin-left: 10px;" />
</div>
<div>css3生成三角形</div>
<div class="myarrow-down"></div>


<div class="box"></div>
<div class="box1"></div>
<div class="box2"></div>
<div class="box3"></div>
<div class="box4"></div>

<div>等待框</div>
<div class="waitingWrapper">
    <div class="outer"></div>
</div>



