@{
    ViewBag.Title = "BackgroundSize";
    Layout = null;
}
<meta name="viewport" content="width=device-width ,initial-scale=1" />
<link href="../../Content/css3mediaqueryforbg.css" rel="stylesheet" />
<h2>BackgroundSize</h2>
<div class="demo">
    <div class="box"></div>
</div>
<br />

<h3>CSS3的box-sizing</h3>
<h4>content-box  border和padding不计算入width之内</h4>
<div class="content-box"></div>
<h4>padding-box padding计算入width内</h4>
<div class="padding-box"></div>
<h4>border-box  border和padding计算入width之内，其实就是怪异模式了~</h4>
<div class="border-box"></div>


<div class="mybg">看看背景效果</div>
