@{
    ViewBag.Title = "BuuildIconByCSS3";
}
<link href="../../Content/buildIconByCSS3.css" rel="stylesheet" />
<label id="ewqe" class="ewqe"><i class="myIcon myIcon-list"><m></i>知道更多</label>
<label id="ewqe1" class="ewqe"><i class="myIcon myIcon-Repeat"><m></i>哈哈更多</label>

<h2>BuuildIconByCSS3 css3生成图标</h2>

<i class="ico-example"><z></i>


<h2>别人示例</h2>
