
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="../../Content/ellipse.css" rel="stylesheet" />
</head>
<body>
    <h2>简单的轮子</h2>
    <div class="space">
        <div class="wheel">
            <div class="line"></div>
        </div>
        <div class="road"></div>
    </div>
    <br />
    <br />
    <br />
    <h2>行星环绕(圆形)</h2>
    <div class="nightspace">
        <div class="sun"></div>
        <div class="sunLine"></div>

        <div class="mercury"></div>
    </div>

    <h2>行星环绕（椭圆）</h2>
    <div class="nightspace">
        <div class="sun2"></div>
        <div class="sunLineEllipse"></div>
        <!--<div class="sunLine"></div>-->
        <div class="mercuryEllipse"><span></span></div>
    </div>


    <br />
    <br />
    <div class="box">
        <div class="wrap-bg"></div>
        <div class="wrap-icon wrap-icon3">
            <span><i></i></span>
        </div>
    </div>

</body>
</html>
