@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="../Content/myFakeloader.css" rel="stylesheet" />
@*<link href="../Content/fakeLoader.css" rel="stylesheet" />*@
<div class="main"> 
    <div class="loadItem active">
        <h4>双重气泡</h4>
        <div class="spinner spinner1">
           <div class="bound bound1"></div>
            <div class="bound bound2"></div>
        </div>
    </div>
    <div class="loadItem active">
        <h4>win8 旋转圈</h4>
        <div class="spinner spinner2">
            <div class="container container1">
                <div class="circle circle1"></div>
                <div class="circle circle2"></div>
                <div class="circle circle3"></div>
                <div class="circle circle4"></div>
            </div>
            <div class="container container2">
                <div class="circle circle1"></div>
                <div class="circle circle2"></div>
                <div class="circle circle3"></div>
                <div class="circle circle4"></div>
            </div>
            <div class="container container3">
                <div class="circle circle1"></div>
                <div class="circle circle2"></div>
                <div class="circle circle3"></div>
                <div class="circle circle4"></div>
            </div>
        </div>
    </div>
    <div class="loadItem active">
        <h4>翻转</h4>
        <div class="spinner spinner4"></div>
    </div>
    <div class="loadItem">
        <h4>4</h4>
        <div class="fakeLoader"></div>
    </div>
    <div class="loadItem">
        <h4>5</h4>
        <div class="fakeLoader"></div>
    </div>
    <div class="loadItem">
        <h4>6</h4>
        <div class="fakeLoader"></div>
    </div>
    <div class="loadItem">
        <h4>7</h4>
        <div class="fakeLoader"></div>
    </div>
</div>
<script src="../Scripts/libs/prefixfree.min.js"></script>
<script src="../Scripts/libs/fakeLoader.min.js"></script>
<script src="../Scripts/custom/myfakeload.js"></script>
