@{
    ViewBag.Title = "Index";
}

<div style="width: 1000px; height: auto; margin: 0 auto; border: 1px solid #808080; border-radius: 2px;">
    <h2>Navigation - 导航--</h2>
    <ul>       
        <li>
            <a href="../CSS3/BuildIconByCSS3">CSS3 生成图标</a>
        </li>
        <li>
            <a href="../CSS3/AnimateLoding">CSS3 Loading</a>
        </li>
        <li>
            <a href="../CSS3/OthersCss3Icon">示例css3图标</a>
        </li>
        <li>
            <a href="../../Home/MediaQueries">css3响应式示例</a>
        </li>
        <li>
            <a href="../../CSS3/BackgroundSize">背景图片填充</a>
        </li>
        <li>
            <a href="../../CSS3/Truck">碰撞</a>
        </li>
        <li>
            <a href="../../CSS3/Ellipse">行星运转</a>
        </li>
        
    </ul>
</div>

