@{
    ViewBag.Title = "Canvas";
}

<style>
    ol {
        display: inline-block;
        width: 250px;
        max-height: 500px;
        border: 2px solid #808080;
        overflow: auto;
    }

        ol li {
            margin: 15px 0;
        }

    .containerListItem {
        display: inline-block;
        list-style: none;
        vertical-align: top;
    }
</style>

<div style="width: 1000px; height: auto; margin: 0 auto; border: 1px solid #808080; border-radius: 2px;">
    <h2>Canvas - 导航--</h2>
    <ul>
        <li class="containerListItem">
            <ol>
                <li>
                    <a href="../Canvas/CanvasBasic">cavas简单应用绘图</a>
                </li>
                <li>
                    <a href="../Canvas/Waves">cavas波浪</a>
                </li>
                <li>
                    <a href="../Canvas/TimerClock">计时器</a>
                </li>
            </ol>
    </ul>
</div>
