@{
    ViewBag.Title = "Waves";
}
<style>
    #wrapper {
        height:500px;
        width:400px;
        margin:10px auto;
        border:1px solid #808080;
        border-radius:4px;
        position:relative;
    }
</style>
<script src="../../Scripts/custom/canvas/wave.js"></script>
<h2>Waves</h2>
<div id="wrapper">
    <canvas id="canvas" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0"></canvas>
</div>
